@tailwind base;
@tailwind components;
@tailwind utilities;

/* To remove spin buttons at <input type="number">
Reference: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* hide the Google Map-related footer. */
a[href^="http://maps.google.com/maps"],a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
  display: none !important;
}
